QListView {
    show-decoration-selected: 1; /* make the selection span the entire width of the view */
}

QListView::item {
	margin-left: 15px;
	margin-right: 15px;
}

QListView::item:selected {
    border-radius: 5px;  
    background: 5px solid #f0f0f0;
}

